<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/smartshop</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.demo.smartshop.dao.entity.OrderDetailsEntity"/>
        <mapping class="com.demo.smartshop.dao.entity.OrderEntity"/>
        <mapping class="com.demo.smartshop.dao.entity.ProductStoreEntity"/>
        <mapping class="com.demo.smartshop.dao.entity.ProductEntity"/>
        <mapping class="com.demo.smartshop.dao.entity.StoreEntity"/>
        <mapping class="com.demo.smartshop.dao.entity.UsersEntity"/>
    </session-factory>
</hibernate-configuration>